
<h2>login to your account</h2>

<%= form_tag(sessions_path) do %>

  <p>email: <%= email_field_tag :email %></p>
  <p>password: <%= password_field_tag :password %></p></br>
  <%= submit_tag "Login" %>
<% end %>

<%= link_to "login via GitHub", "/auth/github" %>
