<div id="error_explanation">
<% if flight.errors.any? %>
  <h3>looks like we have some errors:</h3>
  <ul>
    <% flight.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</div>

<%= form_tag("/flights", method: "post") do %>
<%= label_tag "Flight Number" %>
<%= text_field_tag :number %>
<br></br>
<%= label_tag "Airline" %>
<%= text_field_tag :airline %>
<br></br>
<%= label_tag "Origin City" %>
<%= text_field_tag :origin_city %>
<br></br>
<%= label_tag "Destination City" %>
<%= text_field_tag :destination_city %>
<br></br>
<%= label_tag "Departure" %>
<%= date_field_tag :departure %>
<br></br>
<%= label_tag "Return" %>
<%= date_field_tag :return %>
<br></br>
<%= label_tag "Cost($)" %>
<%= number_field_tag :cost %>
<br></br>
<%= label_tag "Check the box if the flight is direct." %>
<%= check_box_tag :direct %>
<br></br>
<%= hidden_field_tag :user_id, value = current_user.id %>
<%= hidden_field_tag :airline_id, value = airline.id %>
<%= submit_tag %>
<% end %>
