<h2>flight details:</h2>
<p class="flight_number">flight number:
  <%= @flight.number %></p>
<p class="origin_city">origin city:
  <%= @flight.origin_city %></p>
<p class="destination_city">destination city:
  <%= @flight.destination_city %></p>
<p class="departure">departure:
  <%= @flight.departure %></p>
<p class="return">return:
  <%= @flight.return %></p>
<p class="cost">cost($):
  <%= @flight.cost %></p>
<% if @flight.direct %>
  <p class="direct"><%= 'direct' %></li>
<% else %>
  <p class="not_direct"><%= 'not direct' %></li>
<% end %>
<br></br>
<%= form_tag(user_flight_path(@flight.user, @flight), method: :delete) do %>
<%= submit_tag 'delete flight' %>
<% end %>
<br></br>
<%= form_tag(user_flights_path(@flight.user), method: :get) do %>
<%= submit_tag 'my flights' %>
<% end %>
<br></br>
<%= link_to 'next flight', user_flight_path(@flight.user, @flight), :class => "js_next" %>
