<h2>flight details:</h2>
<p class="flightNumber">flight number:
  <%= @flight.number %></p>
<p class="flightOrigin_city">origin city:
  <%= @flight.origin_city %></p>
<p class="flightDestination_city">destination city:
  <%= @flight.destination_city %></p>
<p class="flightDeparture">departure:
  <%= @flight.departure %></p>
<p class="flightReturn">return:
  <%= @flight.return %></p>
<p class="flightCost">cost($):
  <%= @flight.cost %></p>
  <p class="flightDirect">
<% if @flight.direct %>
  <%= 'direct' %></li>
<% else %>
  <%= 'not direct' %></li></p>
<% end %>
<br></br>
<%= form_tag(user_flight_path(@flight.user, @flight), method: :delete) do %>
<%= submit_tag 'delete flight' %>
<% end %>
<br></br>
<%= form_tag(user_flights_path(@flight.user), method: :get) do %>
<%= submit_tag 'my flights' %>
<% end %>
<br></br>
<a href="#" class="js-next" data-id="<%=@flight.id%>">next flight</a>
