<label>First Name:</label>
<p><%= current_user.first_name %></p>
<label>Last Name:</label>
<p><%= current_user.last_name %></p>
<label>Budget:</label>
<p><%= current_user.budget %></p>
<br></br>
<p><%= link_to 'edit user details', edit_user_path %></p>
<br></br>
<p><%= link_to 'see my flights', user_flights_path(@user) %></p>
<br></br>
<p><%=link_to 'create flight', new_user_flight_path(@user) %></p>
