  <h2>your profile</h2>
  <p><%= current_user.first_name %>
    <%= current_user.last_name %></p>
  <p>budget($):
    <%= current_user.budget %></p>
  <br></br>
  <%= form_tag(edit_user_path, method: :get) do %>
  <%= button_tag 'edit user details' %>
<% end %>

</br>
<%= form_tag(new_airline_path, method: :get) do %>
<%= button_tag "add airline" %>
<% end %>
</br>
<p>
  <%= link_to "my flights", user_flights_path(@user), :class => "my_flights" %>
</p>
</br>

<div class="flights">
  <ol>
  </ol>
</div>
