<h2>your profile</h2>
<p><%= current_user.first_name %> <%= current_user.last_name %></p>
<p>budget: <%= current_user.budget %></p>
<br></br>
<%= form_tag(edit_user_path, method: :get) do %>
<%= submit_tag 'edit user details' %>
<% end %>
<br></br>
<%= form_tag(user_flights_path(@user), method: :get) do %>
<%= submit_tag 'my flights' %>
<% end %>
<br></br>
<%= form_tag(new_user_flight_path(@user), method: :get) do %>
<%= submit_tag 'create flight' %>
<% end %>
