
<div id="error_explanation">
<% if airline.errors.any? %>
  <h3>looks like we have some errors:</h3>
  <ul>
    <% airline.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</div>


<%= form_for(airline) do |f| %>
<%= f.label "airline" %>
<%= f.text_field :name %>
<%= f.label "rewards no." %>
<%= f.number_field :rewards_number %>
<%= f.hidden_field :flight_id, value: flight.id %>
<%= f.submit%>
<% end %>
