
<div class="errors">
<% if airline.errors.any? %>
    <% airline.errors.full_messages.each do |message| %>
      <ul><%= message %></ul>
    <% end %>
  <% end %>
</div>

<div class="airline-form">
<%= form_for(airline) do |f| %>
<%= f.label "airline" %><br></br>
<%= f.text_field :name %><br></br>
<%= f.label "rewards no." %><br></br>
<%= f.number_field :rewards_number %><br></br>
<%= f.button%>
<% end %>
</div>
