
<!-- <div id="error_explanation">
<% if airline.errors.any? %>
  <h3>looks like we have some errors:</h3>
  <ul>
    <% airline.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</div>

<div class="airline-form">
<%= form_for(airline) do |f| %>
<%= f.label "airline" %><br></br>
<%= f.text_field :name %><br></br>
<%= f.label "rewards no." %><br></br>
<%= f.number_field :rewards_number %><br></br>
<%= f.button%>
<% end %>
</div> -->
