<h3>filter by airline</h3>
<%= form_tag(airlines_path, method: :get) do %>
<%= collection_select :airline, :name, @airlines, :name, :name %>
<%= submit_tag "filter airlines" %>
<% end %>

    <% @airlines.each do |airline| %>
    <div class="container-airlines">

      <h3><%= airline.name %></h3>
      <p>rewards member: #<%= airline.rewards_number %></p>
      <%= form_tag(edit_airline_path(airline), method: :get) do %>
      <%= button_tag 'edit airline' %>
    <% end %></br>

    <%= form_tag(airline_path(airline), method: :get) do %>
    <%= button_tag 'view airline' %>
  </div>
  <% end %>
<% end %>
