<div class="airlines">
  <ol>
    <% @airlines.each do |airline| %>
      <h3><%= airline.name %></h3>
      <p>rewards member: #<%= airline.rewards_number %></p>
      <%= form_tag(edit_airline_path(airline), method: :get) do %>
      <%= submit_tag 'edit airline' %>
    <% end %>

    <%= form_tag(airline_path(airline), method: :get) do %>
    <%= submit_tag 'view airline' %>
  <% end %>
<% end %>
</ol>
</div>

</br>
<%= form_for(@airline) do |f| %>
<%= f.label "airline" %>
<%= f.text_field :name %>
<%= f.label "rewards no." %>
<%= f.number_field :rewards_number %>
<%= f.submit%>
<% end %>