<!-- <h2><%= @airline.name %></h2>
<p>rewards #
  <%= @airline.rewards_number %></p>

<h3>so, like, create a new flight</h3>

<%= form_for(@flight) do |f| %>
<%= f.label "flight number" %>
<%= f.text_field :number, placeholder: "flight number" %>
<br></br>
<%= f.label "origin city" %>
<%= f.text_field :origin_city, placeholder: "runaway" %>
<br></br>
<%= f.label "destination city" %>
<%= f.text_field :destination_city, placeholder: "neverland"%>
<br></br>
<%= f.label "departure" %>
<%= f.date_field :departure%>
<br></br>
<%= f.label "return" %>
<%= f.date_field :return %>
<br></br>
<%= f.label "cost($)" %>
<%= f.number_field :cost, placeholder: "love don't cost a thing" %>
<br></br>
<%= f.label "direct?" %>
<%= f.check_box :direct %>
<br></br>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :airline_id, value: @airline.id %>
<%= f.submit %>
<% end %>
</br>
<%= link_to 'my airlines', airlines_path, :class => "my_airlines" %> -->
<!-- <li>
  <%= @airline.name %>
  <%= @airline.rewards_number %>
</li> -->
